<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/topstyle.css}" rel="stylesheet" type="text/css">
</head>
<body>
<center>
    <div id="admin-panel" th:insert="~{fragments/admin-panel :: admin-panel}"></div>

    <h2>List of Doctors</h2>

    <div style="color: forestgreen; font-size: medium" th:text="${registrationSuccess}"></div>

    <form action="#" th:action="@{/likarnya/admin/medical-registration}" method="get">
        <input type="submit" value="Add a new Dorctor">
    </form>
    </br>

    <table>
        <tr>
            <td>
            <th>
                <label for="category" th:text="#{Choose_category_of_doctor}"></label>
            </th>
            <td>

                <form th:action="@{/likarnya/admin/doctors}">
                    <select th:id="category" th:name="category" onchange="this.form.submit();">
                        <option value="" th:text="#{Default_or_choose}"></option>
                        <option th:each="category : ${categories}"
                                th:value="${category.id}"
                                th:selected="${category.id==(catValue)}"
                                th:text="${category.title} ">
                        </option>
                    </select>
            </td>
            </td>

            <td>
            <th>
                <label for="sorting" th:text="#{Sort_doctors_by}"></label>
            </th>
            <td>

                <select th:id="sorting" th:name="sorting" onchange="this.form.submit();">
                    <option value="" th:text="#{Choose_an_option}"></option>
                    <option th:value="ASC-NAME" th:selected="${'ASC-NAME'==(sort)}" th:text="#{Firstname_alphabetically}">
                    </option>
                    <option th:value="DESC-NAME" th:selected="${'DESC-NAME'==(sort)}" th:text="#{Firstname_reverse}">
                    </option>
                    <option th:value="ASC" th:selected="${'ASC'==(sort)}" th:text="#{Lastname_alphabetically}">
                    </option>
                    <option th:value="DESC" th:selected="${'DESC'==(sort)}" th:text="#{Lastname_reverse}">
                    </option>
                    <option th:value="CAT-ASC" th:selected="${'CAT-ASC'==(sort)}" th:text="#{Category_alphabetically}">
                    </option>
                    <option th:value="CAT-DESC" th:selected="${'CAT-DESC'==(sort)}" th:text="#{Category_reverse}">
                    </option>
                    <option th:value="INCREASE" th:selected="${'INCREASE'==(sort)}" th:text="#{Number_of_patients_increase}">
                    </option>
                    <option th:value="DECREASE" th:selected="${'DECREASE'==(sort)}" th:text="#{Number_of_patients_decrease}">
                    </option>
                </select>
                </form>
            </td>
            </td>
        </tr>
    </table>

    <div th:if="${doctorsList.size()!=0}">
        </br>
        <table border="1">
            <tr>
                <th>No.</th>
                <th>Doctor Name</th>
                <th>Doctor LastName</th>
                <th>Category</th>
                <th>Count Of Patients</th>
            </tr>
            <tr th:each="doctor, iStat: ${doctorsList}">
                <td th:text="${iStat.index + 1}"/>
                <td th:text="${doctor.firstName}"/>
                <td th:text="${doctor.lastName}"/>
                <td th:text="${doctor.category}"/>
                <td th:text="${doctor.countOfPatients}"/>
            </tr>
        </table>
    </div>
    <div th:unless="${doctorsList.size()!=0}">
        <h2 style="color: cadetblue"> There no doctors in this category yet!</h2>
    </div>

    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    <div id="footer" th:insert="~{fragments/footer :: footer}"></div>
</center>
</body>
</html>