<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Patient</title>
    <link th:href="@{/topstyle.css}" rel="stylesheet" type="text/css">
</head>
<body>
<center>
    <div id="admin-panel" th:insert="~{fragments/admin-panel :: admin-panel}"></div>
    <div id="admin-patients-buttons" th:insert="~{fragments/admin-patients-buttons :: admin-patients-buttons}"></div>

    <div th:if="${totalElements}>=1">
        <h2 style="color: cadetblue">Discharged Patients</h2>
        <p>Sort by (quantity): <a href="/patients/sort=asc">category</a> | <a href="/patients/sort=asc">ascending</a> |
            <a
                    href="/orders/sort=desc">descending</a> | <a
                    href="/admin/patients">non sorting</a></p>

        <table border="1">
            <tr>
                <th>No.</th>
                <th>Patient ID</th>
                <th>Patient Name</th>
                <th>Patient LastName</th>
                <th>Date Of Birth</th>
                <th>Patient Gender</th>
            </tr>
            <tr th:each="patient, iStat: ${page.content}">
                <td th:text="${iStat.index + 1}"/>
                <td th:text="${patient.id}"/>
                <td th:text="${patient.firstName}"/>
                <td th:text="${patient.lastName}"/>
                <td th:text="${patient.dateOfBirth}"/>
                <td th:text="${patient.gender}"/>
            </tr>
        </table>
        <div th:if="${page.size!=0 }">
        <div class="pagination-div">
    <span th:if="${page.hasPrevious()}">
        <a th:href="@{/likarnya/admin/patients/history(page=${page.number-1},size=${page.size})}">Previous</a>
    </span>
            <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                <span th:unless="${page.number == i}">
             <a th:href="@{/likarnya/admin/patients/history(page=${i},size=${page.size})}">[[${i}+1]]</a>
        </span>
            </th:block>
            <span th:if="${page.hasNext()}">
        <a th:href="@{/likarnya/admin/patients/history(page=${page.number+1},size=${page.size})}">Next</a>
    </span>
        </div>
        </div>
    </div>
    <div th:unless="${totalElements}>=1">
        <h3 style="color: deeppink">No discharged patients yet!</h3>
    </div>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    <div id="footer" th:insert="~{fragments/footer :: footer}"></div>
</center>
</body>
</html>