<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor History Page</title>
    <link th:href="@{/topstyle.css}" rel="stylesheet" type="text/css">
</head>
<body>
<center>
    <div id="admin-panel" th:insert="~{fragments/admin-panel :: admin-panel}"></div>
    <div th:if="${totalElements}>=1">
        <h2 style="color: cadetblue" th:text="#{History}"></h2>

        <a th:href="@{/likarnya/admin}" th:text="#{Back_to_previously_page}"></a>
        </br></br>
        <table border="1">
            <tr>
                <th>No.</th>
                <th>Patient</th>
                <th>Date Of Birth</th>
                <th>Patient Gender</th>
                <th>Patient's Complaints</th>
                <th>Patient's Diagnosis</th>
                <th>Patient's Treatment</th>
                <th>Status of Treatment</th>
                <th>Patient's Doctor</th>
                <th>Executor</th>
                <th>Day of Admission</th>
                <th>Day of Discharge</th>
            </tr>
            <tr th:each="patient, iStat: ${page.content}">
                <td th:text="${iStat.index + 1}"/>
                <td th:text="${patient.firstName + ' ' + patient.lastName}"/>
                <td th:text="${patient.dateOfBirth}"/>
                <td th:text="${patient.gender}"/>
                <td th:text="${patient.complaints}"/>
                <td th:text="${patient.diagnosis}"/>
                <td th:text="${patient.appointment}"/>
                <td th:text="${patient.appointmentStatus}"/>
                <td th:text="${patient.doctorCategory + ' - ' + patient.doctorFirstName + ' ' + patient.doctorLastName}"/>
                <td th:text="${patient.roleOfExecutor + ' - ' + patient.getNameOfExecutor() + ' ' + patient.getLastNameOfExecutor()}"/>
                <td th:text="${patient.dateOfAdmission}"/>
                <td th:text="${patient.getDateOfDischarge()}"/>
            </tr>
        </table>
        <div class="pagination-div">
    <span th:if="${page.hasPrevious()}">
        <a th:href="@{/likarnya/admin/patients/history(page=${page.number-1},size=${page.size})}">Previous</a>
    </span>
            <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                <span th:unless="${page.number == i}">
             <a th:href="@{/likarnya/admin/patients/history(page=${i},size=${page.size})}">[[${i}+1]]</a>
        </span>
            </th:block>
            <span th:if="${page.hasNext()}">
        <a th:href="@{/likarnya/admin/patients/history(page=${page.number+1},size=${page.size})}">Next</a>
    </span>
        </div>
    </div>

    <div th:unless="${totalElements}>=1">
        <h3 style="color: deeppink">There are no history yet!</h3>
    </div>

    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    <div id="footer" th:insert="~{fragments/footer :: footer}"></div>
</center>
</body>
</html>
