.topnav {
  //  background-color: #333;
    background-color: cadetblue;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: top;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    font-size: 22px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    /*background-color: #4CAF50;*/
    color: white;
}

body {
    background: #dddddd;
    /*background: cornsilk;*/
}