
<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="admin-panel">
<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a class="active" href="/admin/nurses">List of Nurse</a>
    <a class="active" href="/admin/patients">Patients</a>
    <a class="active" href="/admin/doctors">Doctors</a>
    <a class="active" href="/admin/medical-registration">Registration Medical Worker</a>
    <a class="active" href="/admin/patient-registration">Patients' Registration</a>
    <form th:action="@{/perform-logout}" method="post">
        <button style="position: absolute; right: 0px; top: 20px; width: 80px; height: 30px" type="submit">
            Log Out
        </button>
    </form>

<!--    <div class="topnav" th:if="${session.user!=null}">-->
<!--        <b> <span th:text="${session.user.getRole()}"></span> </b>-->



<!--    </div>-->

<!--        <div class="topnav" th:if="${session.user!=null}">-->
<!--                    <b> <span th:text="${session.user.getRole()}"></span> </b>-->


<!--            <form th:action="@{/perform-logout}" method="post">-->
<!--                <button style="position: absolute; right: 0px; top: 10px;" class='btn btn-secondary pull-right' type="submit">-->
<!--                    Log Out-->
<!--                </button>-->
<!--            </form>-->
<!--        </div>-->

</div>
    <h2><span style="color: #5cac8c" th:text="${'Cabinet Of Admin ' + ' ' + session.user.firstName + ' ' + session.user.lastName}"></span></h2>
</th:block>