
<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="doctor-buttons">
    <form action="#" th:action="@{/doctor-cabinet}" method="get">
        <input type="submit" value="Show Patients for Diagnosis">
    </form>

    <form action="#" th:action="@{/doctor-cabinet/diagnosed-patients}" method="get">
        <input type="submit" value="Show Diagnosed patients">
    </form>

    <form action="#" th:action="@{/doctor-cabinet/treatment-patients}" method="get">
        <input type="submit" value="Treatment of Patients">
    </form>
</th:block>