<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nurse Page</title>
    <link th:href="@{/topstyle.css}" rel="stylesheet" type="text/css">
</head>
<body>
<center>
    <div id="nurse-panel" th:insert="~{fragments/nurse-panel :: nurse-panel}"></div>

    <div th:if="${patientsForTreatingByProcedureOrDrug.size()}!=0">
        <h3 style="color: cadetblue">Patients for Treatment</h3>

        <table border="1">
            <tr>
                <th>No.</th>
                <th>Patient</th>
                <th>Date Of Birth</th>
                <th>Patient Gender</th>
                <th>Patient's Complaints</th>
                <th>Patient's Diagnosis</th>
                <th>Patient's Treatment</th>
                <th>Status of Treatment</th>
                <th>Patient's Doctor</th>
                <th colspan="5">Operations</th>
            </tr>
            <tr th:each="patient, iStat: ${patientsForTreatingByProcedureOrDrug}">
                <td th:text="${iStat.index + 1}"/>
                <td th:text="${patient.firstName + ' ' + patient.lastName}"/>
                <td th:text="${patient.dateOfBirth}"/>
                <td th:text="${patient.gender}"/>
                <td th:text="${patient.complaints}"/>
                <td th:text="${patient.diagnosis}"/>
                <td th:text="${patient.appointment}"/>
                <td th:text="${patient.appointmentStatus}"/>
                <td th:text="${patient.doctorCategory + ' - ' + patient.doctorFirstName + ' ' + patient.doctorLastName}"/>
                <td>
                    <form action="#"
                          th:action="@{/likarnya/nurse-cabinet/execute-treatment/{patient_id}(patient_id=${patient.id})}"
                          method="get">
                        <input type="submit" value="Open medical card">
                    </form>
                </td>
            </tr>
        </table>

    </div>

    <div th:unless="${patientsForTreatingByProcedureOrDrug.size()}!=0">
        <h3 style="color: deeppink">There are no patients for treatment yet!</h3>
    </div>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    <div id="footer" th:insert="~{fragments/footer :: footer}"></div>
</center>
</body>
</html>