<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <link th:href="@{/topstyle.css}" rel="stylesheet" type="text/css">
</head>
<body>
<center>
    <div id="admin-panel" th:insert="~{fragments/admin-panel :: admin-panel}"></div>

    <h2>List of Doctors</h2>

    <div style="color: forestgreen; font-size: medium" th:text="${registrationSuccess}"></div>

    <form action="#" th:action="@{/admin/medical-registration}" method="get">
        <input type="submit" value="Add new Dorctor">
    </form>
    </br>
    <p>Sort by (quantity): <a href="/orders/sort=asc">category</a> | <a href="/orders/sort=asc">ascending</a> | <a
            href="/orders/sort=desc">descending</a> | <a
            href="/admin/doctors">non sorting</a></p>


        <select name="category" th:onchange="'window.location.href = \'' + @{/admin/doctors/} + '\' + this.value ' ">
            <option value="">--Please choose an option--</option>
            <option th:each="category : ${categories}"
                                th:value="${category.title}"
                                th:selected="${category.title==(categ)}"
                                th:text="${category.title} ">
            </option>
        </select>
   </br>
    <table border="1">
        <tr>
            <th>No.</th>
            <th>Doctor ID</th>
            <th>Doctor Name</th>
            <th>Doctor LastName</th>
            <th>Category</th>
            <!--            <th>Patient Quantity</th>-->
            <th colspan="5">Operations</th>
        </tr>
        <tr th:each="doctor, iStat: ${doctors}">
            <td th:text="${iStat.index + 1}"/>
            <td th:text="${doctor.id}"/>
            <td th:text="${doctor.firstName}"/>
            <td th:text="${doctor.lastName}"/>
                        <td th:text="${doctor.category}"/>
            <!--            <td th:text="${}"/>-->
        </tr>
    </table>
        </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
        <div id="footer" th:insert="~{fragments/footer :: footer}"></div>
</center>
</body>
</html>