<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<center>
    <h2>Login Form</h2>
    <form th:action="@{/login}" th:object="${loginUser}" method="post">

        <p>Not registered yet?<a
                href="/registration"> Go to registration!</a></p>

        <!--        <div th:if="${registrationSuccess}">-->

        <table>
            <tr>
                <th>
                    <label>Email</label>
                </th>
                <td>
                    <input th:type="text" name="email" th:field="*{email}" id="email" th:value="${loginUser.email}"/>
                </td>
                <td th:style="'color: #ff6347'">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </td>
            </tr>

            <tr>
                <th>
                    <label>Password</label>
                </th>
                <td>
                    <input th:type="password" name="password" th:field="*{password}" id="password"
                           th:value="${loginUser.password}"/>
                </td>
                <td th:style="'color: #ff6347'">
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </td>
            </tr>

            <tr>
                <th>
                </th>
                <td colspan="0">
                    <input type="submit" value="Enter"/>
                    <input type="reset" value="Clear">
                </td>
            </tr>
        </table>
    </form>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    <div id="footer" th:insert="~{fragments/footer :: footer}"></div>
</center>
</body>
</html>