<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link th:href="@{/topstyle.css}" rel="stylesheet" type="text/css">
</head>
<body>
<center>
    <div id="admin-panel" th:insert="~{fragments/admin-panel :: admin-panel}"></div>
    <h2>Admin Cabinet</h2>
    <h2>Medical Workers Registration Form</h2>

    <form th:action="@{/admin/medical-registration}" th:object="${registrationUser}" method="post">

        <table th:object="${errorMessages}" border="0">
            <tr th:style="'color: #ff6347'" th:each="elem :${errorMessages}">
                <td th:text="${elem}"></td>
            </tr>
        </table>
        </br> </br>

        <table>

            <tr>
                <th>
                    <label>First Name</label>
                </th>
                <td>
                    <input th:type="text" name="firstName" th:field="*{firstName}" id="firstName"
                           th:value="${registrationUser.firstName}"/>
                </td>
                <td th:style="'color: #ff6347'">
                    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                </td>
            </tr>


            <tr>
                <th>
                    <label>Last Name</label>
                </th>
                <td>
                    <input th:type="text" name="lastName" th:field="*{lastName}" id="lastName"
                           th:value="${registrationUser.lastName}"/>
                </td>
                <td th:style="'color: #ff6347'">
                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                </td>
            </tr>

            <tr>
                <th>
                    <label>Email</label>
                </th>
                <td>
                    <input th:type="text" name="email" th:field="*{email}" id="email"
                           th:value="${registrationUser.email}"/>
                </td>
                <td th:style="'color: #ff6347'">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </td>
            </tr>

            <tr>
                <th>
                    <label>Password</label>
                </th>
                <td>
                    <input th:type="password" name="password" th:field="*{password}" id="password"
                           th:value="${registrationUser.password}"/>
                </td>
                <td th:style="'color: #ff6347'">
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </td>
            </tr>

            <tr>
                <th>
                    <label for="role">Role</label>
                </th>
                <td>
                    <select th:field="*{role}" id="role">
                        <option value="DOCTOR">DOCTOR</option>
                        <option value="NURSE">NURSE</option>
                    </select>
                </td>
            </tr>

            <tr>
            <th>
                <label for="category">Category</label>
            </th>
            <td>
                <select th:field="*{category}" id="category">
                    <option value=0>NONE</option>
                    <option value=1>THERAPIST</option>
                    <option value=2>SURGEON</option>
                    <option value=3>TRAUMATOLOGIST</option>
                    <option value=4>DERMATOLOGIST</option>
                    <option value=5>NEUROPATHOLOGIST</option>
                    <option value=6>OTOLARYNGOLOGIST</option>
                    <option value=7>OPHTHALMOLOGIST</option>
                </select>
            </td>
            </tr>



            <tr>
                <th>
                </th>
                <td colspan="0">
                    <input type="submit" value="Registration"/>
                    <input type="reset" value="Clear">
                </td>
            </tr>
        </table>
    </form>
    <div id="footer" th:insert="~{fragments/footer :: footer}"></div>
</center>

</body>
</html>