<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Medical Card Page</title>
    <link th:href="@{/topstyle.css}" rel="stylesheet" type="text/css">
</head>
<body>
<center>
    <div id="admin-panel" th:insert="~{fragments/admin-panel :: admin-panel}"></div>
    <h2>Admin Cabinet</h2>
    <h2>Medical Card Form</h2>

    <!--    <form th:action="@{/admin/create-medical-card/{patient_id}(patient_id=${patient.id})/add/{doctor_id}(doctor_id=${medicalCard.user.id})}" th:object="${medicalCard}"-->
<!--    <form th:action="@{/admin/create-medical-card/{patient_id}(patient_id=${patient.id})}"-->
    <form th:action="@{/admin/create-medical-card/add/{patient_id}(patient_id=${patient.id})}"
          th:object="${medicalCard}"
          method="post">
        <table border="1">
            <tr>
                <th>Patient Name</th>
                <th>Patient Last Name</th>
                <th>Patient Data Of Birth</th>
            </tr>
            <tr th:each="patient, iStat: ${patient}">
                <td>
                    <a th:text="${patient.firstName}"/>
                </td>
                <td>
                    <a th:text="${patient.lastName}"/>
                </td>
                <td>
                    <a th:text="${patient.dateOfBirth}"/>
                </td>
            </tr>
            </br>

        </table>

        <table>
            <tr>
                <th>
                    <label>Enter the Complaints of Patient</label>
                </th>
                <td>
                    <input th:type="text" name="complaints" th:field="*{complaints}" id="complaints" required/>
                </td>
            </tr>
            </br>

            <tr>
                <th>
                    <label for="categorrr">Choose Category of Doctor</label>
                </th>

                <td>
                    <!--                        <select th:field="${medicalCard.user.category.id}" id="quantity">-->
                    <!--                            <option value="1" selected="selected">1</option>-->
                    <!--                            <option value="2"><a href="/admin/create-medical-card/55/{patient_id}(patient_id=${patient.id})">ascending</a></option>-->
                    <!--                            <option value="3">3</option>-->
                    <!--                            <option value="4">4</option>-->
                    <!--                            <option value="5">5</option>-->
                    <!--                            <option value="6">6</option>-->
                    <!--                            <option value="7">7</option>-->
                    <!--                        </select>-->


                    <select th:onchange="'window.location.href = \'' + @{/admin/create-medical-card/{patient_id}(patient_id=${patient.id})} + '/\' + this.value ' "  required>
                        <option value="">--Please choose an option--</option>
                        <option th:each="category : ${categories}"
                                th:value="${category.title}"
                                th:selected="${category.title==(categ)}"
                                th:text="${category.title}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>

                <th>
                    <label for="user">Choose Doctor</label>
                </th>
                <td>
                    <!--                        <select th:field="${medicalCard.user}" id="user">-->
                    <!--                        <select id="user">-->
                    <!--                        <select th:field="*{user}" id="user" th:name="user">-->
                    <select th:field="*{user.id}" id="user">
                    <option th:each="doctor : ${doctors}"
                            th:value="${doctor.id}"
                            th:text="${doctor.firstName + ' ' + doctor.lastName}">
                    </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Create Medical Card"/>
                </td>
            </tr>
        </table>
<!--        <input type="hidden" name="userId" th:value="*{user.id}">-->
<!--        <input type="hidden" name="patientId" th:value="${patient.id}">-->
    </form>


    <div id="footer" th:insert="~{fragments/footer :: footer}"></div>
</center>
</body>
</html>