<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Medical Card Page</title>
    <link th:href="@{/topstyle.css}" rel="stylesheet" type="text/css">
</head>
<body>
<center>
    <div id="admin-panel" th:insert="~{fragments/admin-panel :: admin-panel}"></div>
    <h2 style="color: cadetblue" th:text="#{Medic_registration_form}"></h2>
    <a th:href="@{/admin}" th:text="#{Back_to_previously_page}"></a>
    </br> </br>

    <table border="1">
        <tr>
            <th>Patient Name</th>
            <th>Patient Last Name</th>
            <th>Patient Data Of Birth</th>
        </tr>
        <tr th:each="patient, iStat: ${patient}">
            <td>
                <a th:text="${patient.firstName}"/>
            </td>
            <td>
                <a th:text="${patient.lastName}"/>
            </td>
            <td>
                <a th:text="${patient.dateOfBirth}"/>
            </td>
        </tr>
    </table>
    </br> </br>

    <table>

        <tr>
            <th>
                <label for="category">Choose Category of Doctor</label>
            </th>

            <td>
                <select th:onchange="'window.location.href = \'' + @{/admin/create-medical-card/{patient_id}(patient_id=${patient.id})} + '/\' + this.value ' "
                        required>
                    <option value="">--Please choose an option--</option>
                    <option th:each="category : ${categories}"
                            th:value="${category.title}"
                            th:selected="${category.title==(categ)}"
                            th:text="${category.title}">
                    </option>
                </select>
            </td>
        </tr>
    </table>
    <div th:if="${doctors!=null}">
        <div th:if="${doctors.size()>=1}">
            <form th:action="@{/admin/create-medical-card/add/{patient_id}(patient_id=${patient.id})}"
                  th:object="${medicalCard}"
                  method="post">

                <table>
                    <tr>
                        <th>
                            <label for="user">Choose Doctor</label>
                        </th>
                        <td>
                            <select th:field="*{user.id}" id="user">
                                <option th:each="doctor : ${doctors}"
                                        th:value="${doctor.id}"
                                        th:text="${doctor.firstName + ' ' + doctor.lastName}">
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label>Enter the Complaints of Patient</label>
                        </th>
                        <td>
                            <input th:type="text" name="complaints" th:field="*{complaints}" id="complaints" required/>
                        </td>

                    </tr>
                </table>
                </br>
                <input type="submit" th:value="#{Confirm_selected}"/>
            </form>
        </div>
        <div th:unless="${doctors.size()>=1}">
            <h3 style="color: salmon" th:text="#{No_doctors_by_this_category}"></h3>
        </div>
    </div>


    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    <div id="footer" th:insert="~{fragments/footer :: footer}"></div>
</center>
</body>
</html>