<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Page</title>
    <link th:href="@{/topstyle.css}" rel="stylesheet" type="text/css">
</head>
<body>
<center>
    <div id="nurse-panel" th:insert="~{fragments/nurse-panel :: nurse-panel}"></div>
    <h3 style="color: cadetblue">Execute Treatment</h3>

    <a th:href="@{/nurse-cabinet}">Back to previous page</a>
    </br>
    </br>
    <form th:action="@{/nurse-cabinet/execute-treatment}"
          th:object="${patientForTreatmentByNurse}" method="post">

        <table border="1">
            <tr>
                <th>Patient</th>
                <th>Date Of Birth</th>
                <th>Patient Gender</th>
                <th>Patient's Complaints</th>
                <th>Patient's Diagnosis</th>
                <th>Patient's Treatment</th>
                <th>Status of Treatment</th>
                <th>Patient's Doctor</th>
            </tr>

            <tr>
                <td th:text="${patientForTreatmentByNurse.firstName + ' ' + patientForTreatmentByNurse.lastName}"/>
                <td th:text="${patientForTreatmentByNurse.dateOfBirth}"/>
                <td th:text="${patientForTreatmentByNurse.gender}"/>
                <td th:text="${patientForTreatmentByNurse.complaints}"/>
                <td th:text="${patientForTreatmentByNurse.diagnosis}"/>
                <td th:text="${patientForTreatmentByNurse.appointment}"/>
                <td th:text="${patientForTreatmentByNurse.appointmentStatus}"/>
                <td th:text="${patientForTreatmentByNurse.doctorCategory + ' - ' + patientForTreatmentByNurse.doctorFirstName + ' ' + patientForTreatmentByNurse.doctorLastName}"/>
            </tr>
        </table>
        </br>

        <td>
            <tr colspan="2">
                <b><h3><input type="submit" th:value="${'EXECUTE' + ' - '+ patientForTreatmentByNurse.appointment}"/></h3></b>
            </tr>
        </td>
        </br>

        <input type="hidden" name="statementId" th:value="${patientForTreatmentByNurse.statementId}">
        <input type="hidden" name="treatmentId" th:value="${patientForTreatmentByNurse.treatmentId}">
    </form>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    <div id="footer" th:insert="~{fragments/footer :: footer}"></div>
</center>
</body>
</html>