<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<center>
    <h2>Registration Form</h2>

    <p>Have already registered?<a
            href="/login"> To Log In!</a></p>


    <form th:action="@{/registration}" th:object="${registrationUser}" method="post">

        <table th:object="${errorMessages}" border="0">
            <tr th:style="'color: #ff6347'" th:each="elem :${errorMessages}">
                <td th:text="${elem}"></td>
            </tr>
        </table>
        </br> </br>

        <table>
            <tr>
                <th>
                    <label>Email</label>
                </th>
                <td>
                    <input th:type="text" name="email" th:field="*{email}" id="email"
                           th:value="${registrationUser.email}"/>
                </td>
                <td th:style="'color: #ff6347'">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </td>
            </tr>

            <tr>
                <th>
                    <label>Password</label>
                </th>
                <td>
                    <input th:type="password" name="password" th:field="*{password}" id="password"
                           th:value="${registrationUser.password}"/>
                </td>
                <td th:style="'color: #ff6347'">
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </td>
            </tr>

            <tr>
                <th>
                    <label>Role</label>
                </th>
                <td>
                    <select th:field="*{role}" id="quantity">
                        <!--                        <option value="ADMIN" selected="selected">ADMIN</option>-->
                        <option value="DOCTOR">DOCTOR</option>
                        <option value="NURSE">NURSE</option>
                    </select>
                </td>
            </tr>

            <tr>
                <th>
                </th>
                <td colspan="0">
                    <input type="submit" value="Registration"/>
                    <input type="reset" value="Clear">
                </td>
            </tr>
        </table>
    </form>
    <div id="footer" th:insert="~{fragments/footer :: footer}"></div>
</center>
</body>
</html>