<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Page</title>
    <link th:href="@{/topstyle.css}" rel="stylesheet" type="text/css">
</head>
<body>
<center>
    <div id="doctor-panel" th:insert="~{fragments/doctor-panel :: doctor-panel}"></div>
    <h2>Doctor Cabinet</h2>
    <div id="doctor-buttons" th:insert="~{fragments/doctor-buttons :: doctor-buttons}"></div>

    <div th:if="${patients.size()}!=0">
        <h3 style="color: deeppink">Patients at an appointment for diagnosis</h3>

        <table border="1">
            <tr>
                <th>No.</th>
                <th>Patient Name</th>
                <th>Patient LastName</th>
                <th>Date Of Birth</th>
                <th>Patient Gender</th>
                <th>Patient's Complaints</th>
                <th>Patient's Diagnosis</th>
                <th>Patient's Treatment</th>
                <th colspan="5">Operations</th>
            </tr>
            <tr th:each="patient, iStat: ${patients}">
                <td th:text="${iStat.index + 1}"/>
                <td th:text="${patient.firstName}"/>
                <td th:text="${patient.lastName}"/>
                <td th:text="${patient.dateOfBirth}"/>
                <td th:text="${patient.gender}"/>
                <td th:text="${patient.complaints}"/>
                <td th:text="${patient.diagnosis}"/>
                <td th:text="${patient.appointment}"/>
                <td th:text="${patient.appointmentStatus}"/>
                <td>
<!--                    <form action="#" th:action="@{/doctor-cabinet/add-treatment/{patient_id}(patient_id=${patient.id})}"-->
<!--                          method="get">-->
<!--                        <input type="submit" value="Open medical card">-->
<!--                    </form>-->
                </td>
            </tr>
        </table>

    </div>

    <div th:unless="${patients.size()}!=0">
        <h3 style="color: deeppink">There are no patients for your appointment yet!</h3>
    </div>

    <div id="footer" th:insert="~{fragments/footer :: footer}"></div>
</center>
</body>
</html>